* {
    cursor: default;
    text-align: center;
    color: #f9f;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
    background-color: rgb(4, 4, 7);
}

h1 {
    opacity: 90%;
    font-weight: bolder;
    margin: 40px;
}

button {
    color: #f9f;
    background-color: #1d1d1d;
    font-family: inherit;
    font-size: inherit;
    margin-right: 6px;
    margin-bottom: 6px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    outline: none;
    -webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    transition: color 0.5s ease;
}

button:hover {
    color: #b8b;
    background-color: #1e1e1e;
}

.center {
    font-family: inherit;
    font-size: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45vw;
}
